body {
    background-color:white;
    text-align:center;
}
#main {
    background-color:lightgray;
    border-radius:2%;
    border: 1px solid #6B6B47;
    box-shadow: 3px 3px 5px #6b6b47;
}
#title, #tribute-info > h2, h3 {
    font-family:sans-serif;
    color:lightblack;
    margin-top:1%;
    font-size: 7vw;
}
p {
    font-family:'Lucida Sans';
    color:#4d4d37;
    margin-top:-5%;
    font-size:18px;
}
#img-div {
    background-color: lightgray;
    border:10px solid lightgray;
    margin-bottom: 10px;
}
img {
    box-shadow: 5px 10px 8px black;
    padding:1%;
    width:95%;
    height:auto;
    margin:auto;
}
#img-caption {
    margin: 15px;
    font-family: Georgia, 'Imes New Roman', Times, serif;
    font-size:larger;
    color:#6B6B47;
}
h3 {
    color:#80806b;
    font-size:28px;
}
#tribute-info > p {
    width: 80%;
    margin: 20px auto;
}
#tribute-info > h2 {
    font-size:50px;
}
blockquote{
    color:#80806f;
    font-size:25px;
    width:35%;
    margin:auto;
    font-family:sans-serif;
    padding:1%;
    text-shadow: 1px 1px 2px #757574;
}
a{
    text-decoration: none;
    color:#31312d;
}
a:hover {
    color: #d1d1a0;
    background-color: #a8a8a1;
}