* {
    box-sizing:border-box;
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

#header {
    height: 145px;
    background-color: rgb(250, 248, 157);
    position:fixed; 
    top: 0; 
    padding-top: 5px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
}
#header-container{
    padding-left: 4vw;
    padding-top:15px;
    width: 100%;
    transform: scale(1.10);
}
.header-logo-name {
    display:inline;
    font-size: 3vh;
}
#header-container img {
    height: 5em;
}
#nav-bar {
    width: 100%;
    padding-bottom: 3px;
    padding-top: 10px;
    padding-right: 5vw;
    text-align: right;
}
#nav-bar ul {
    margin: 0px;
    padding:0px;
    text-align: center;
    display:inline;
    vertical-align:top;
    justify-content: space-around;
}
#nav-bar li {
    margin: 10px;
    text-align: center;
    padding-bottom: 10px;
    display: inline;
    text-align: right;
    font-size: 20px;
}
#nav-bar a {
    text-align: center;
    display: inline;
    padding-top: 5px;
    padding-right: 5px;
    text-decoration: none;
    color:black;
}
#nav-bar a:hover {
    text-decoration:underline;
}
#main {
    padding-top: 150px;
    text-align: left;
    padding-left: 20px;
    padding-right:20px;
    background-color: rgb(255, 248, 240);
    height: 100vh;
}
#footer {
    text-align: right;
    background-color:rgb(255, 248, 240) ;
}
.section {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
}
#email {
    width: 20vw;
    margin-top:8px;
}
#slogan{
    margin:10px;
    font-size: 30px;
}
#atributos{
    padding-left: 100px;
    padding-top:25px;
    font-size: 25px;
}
.atributos-list{
    margin-bottom:15px;
}
#ytvid {
    display: flex;
    justify-content: center;
}
#submit {
    background-color: rgb(250, 248, 157);
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#aaa {
    text-align: center;
}